.header{
    // position: absolute;
    // width: 100%;
    // top: 0;
    // left:0;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list{
            display: flex;
            list-style-type: none;
            gap: 32px;
            &-link{
                &:hover{
                    color: #EF7C00;
                    transition: 0.4s; 
                }
            }
            &-item{
                padding: 28px 0;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;  
                color: #2C2D2E;
                position:relative;
                &:hover .dropdown{
                    display:flex;
                }
                .dropdown{
                    position: absolute;
                    z-index: 2;
                    display: none;
                    flex-direction:column;
                    left:-63px;
                    top: 100%;
                    padding: 16px 24px;
                    border: 1px solid rgba(0, 16, 61, 0.12);
                    border-radius: 0px 0px 4px 4px;
                    background: #FFFFFF;
                    &__item{
                        white-space: nowrap;
                        margin-bottom: 16px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:hover{
                            color: #EF7C00;
                            transition: 0.4s; 
                        } 
                    }
                }
                &::before{
                    content:'';
                    position: absolute;
                    height: 28px;
                    width: 1px;
                    background-color: rgba(0, 16, 61, 0.12);
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);

                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
           
            }
        }
        .lang{
            display: flex; 
            gap:8px;
            
            &__item{
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                align-items: center;
                color: #919399;
                background:transparent;
                border: none;
                cursor: pointer;
                position: relative;
                &::before{
                    content:'';
                    position: absolute;
                    height: 23px;
                    width: 1px;
                    background-color: rgba(0, 16, 61, 0.12);
                    right: -4px;
                    top: 50%;
                    transform: translateY(-50%);

                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
                &_active{
                    color: #EF7C00;
                }
            }
        }
    }
}