@import url("../libs/bootstrap/bootstrap-grid.min.css");
@import url("../fonts/montserrat/montserrat.css");
@import url("../libs/OWL/owl.carousel.min.css");
@import url("../libs/OWL/owl.theme.default.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #2C2D2E;
}

span {
  background: #ef7c00;
}

.about {
  padding: 40px 0 56px;
}
.about.title {
  margin-bottom: 32px;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__list {
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.header .nav__list-link:hover {
  color: #EF7C00;
  transition: 0.4s;
}
.header .nav__list-item {
  padding: 28px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2C2D2E;
  position: relative;
}
.header .nav__list-item:hover .dropdown {
  display: flex;
}
.header .nav__list-item .dropdown {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  left: -63px;
  top: 100%;
  padding: 16px 24px;
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}
.header .nav__list-item .dropdown__item {
  white-space: nowrap;
  margin-bottom: 16px;
}
.header .nav__list-item .dropdown__item:last-child {
  margin-bottom: 0;
}
.header .nav__list-item .dropdown__item:hover {
  color: #EF7C00;
  transition: 0.4s;
}
.header .nav__list-item::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 1px;
  background-color: rgba(0, 16, 61, 0.12);
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.header .nav__list-item:last-child::before {
  display: none;
}
.header .nav .lang {
  display: flex;
  gap: 8px;
}
.header .nav .lang__item {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
  color: #919399;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header .nav .lang__item::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 1px;
  background-color: rgba(0, 16, 61, 0.12);
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
}
.header .nav .lang__item:last-child::before {
  display: none;
}
.header .nav .lang__item_active {
  color: #EF7C00;
}

.home .slide-item {
  padding: 160px 0 155px;
  height: 525px;
}
.home .slide-item__first {
  background: url("../Images/home/bg 1.jpg") center/cover;
}
.home .slide-item__second {
  background: url("../Images/home/bg 2.jpg") center/cover;
}
.home .slide-item__third {
  background: url("../Images/home/bg.3jpg.jpg") center/cover;
}
.home .slide-item__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
}
.home .slide-item__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  color: #2C2D2E;
}
.home .slide-item__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
  margin-bottom: 17px;
  max-width: 580px;
}/*# sourceMappingURL=style.css.map */


.about .about__title{
  text-align: center;
  top:40px;
  
}